
#dashnav-container {
  border: none;
  min-height: 34px;
  position: relative;
}

#dashnav-field {
  width: 100%;
  text-indent: 26px;
  margin: 10px auto 10px auto;
}

html ul.ui-menu.ui-autocomplete.ui-front > li.ui-menu-item > div.ui-menu-item-wrapper {
  margin-top: -2.5px;
  margin-bottom: -2.5px;
}

html ul.ui-menu.ui-autocomplete.ui-front,
#dashnav-field.active {
  border-width: 1px;
  border-radius: 2px;
  min-width: 22em;
  z-index: 20000;
}

#dashnav-field,
#dashnav-field.active {
  width: 100%;
  background-image: url(wheel.png);
  background-repeat: no-repeat;
  background-position-x: 6px;
  background-position-y: 4px;
  background-size: 22px;
  text-indent: 26px;
  user-select: text;
  -webkit-user-select: text;
}
.rtl #dashnav-field,
.rtl #dashnav-field.active {
  width: 100%;
  background-position: right 6px center;
  background-position-y: 4px;
  background-size: 22px;
  text-indent: 26px;
  user-select: text;
  -webkit-user-select: text;
}
